{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    {% comment %} bootstrap {% endcomment %}
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    {% comment %} css {% endcomment %}
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    
</head>
<body>
    <header class='header sticky-top'>
        <div class="header-container d-flex">
            <navbar class="header-nav pt-4">
                <ul class='header-list d-flex'>
                    <li>
                        <a href="/" class='nav-a m-3'>Home</a>
                    </li>
                    <li>
                        <a href="{% url 'main:product_list'%}" class='nav-a m-3'>Services</a>
                    </li>
                </ul>
            </navbar>
            <div class="header-log">
                <a href="{% url 'main:product_list'%}">
                    <img src="{% static 'img/qwewqe.png' %}" alt="" class='header-logo-image'>
                </a>
            </div>
            <div class="header-profile pt-2">
                <a href="{% url 'cart:cart_detail' %}"><img src="{% static 'img/grob.png' %}" class='grob' alt=""></a>
                <p class="cart-quantity">
                    {% with cart_quantity=cart|length %}
                        {% if cart_quantity > 0 %}
                            {{ cart_quantity }}
                        {% else %}
                            0
                        {% endif %}
                    {% endwith %}
                </p>
            </div>
        </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <img src="{% static 'img/frame1.png'%}" alt="" class="frame1">
    <img src="{% static 'img/frame2.png'%}" alt="" class="frame2">
    <img src="{% static 'img/frame3.png'%}" alt="" class="frame3">
    <img src="{% static 'img/frame4.png'%}" alt="" class="frame4">




    <script src="{% static 'bootstrap\js\bootstrap.bundle.min.js' %}"></script>
</body>
</html>